
<html>
    <head>
        <meta charset="utf-8">
        <title>Echo - Velcom</title>
    </head>

    <body>
        <h1>Echo Service</h1>

        <div>
            <h2>History messages</h2>
            
            <hr />

            {% for one_message in bean['messages']%}
                <p>
                    {{ one_message }}
                </p>
            {% endfor %}

            <br />
        </div>

        <div>
            <form action="/echo.php" method="post">
                <input type="text" name="msg" />
            </form>
        </div>
    </body>
</html>